HELP.md
target/
.idea/
/logs/
/*/logs/
/*/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.iml
/logs


### VS Code ###
.vscode/
.cursor/
.git/
src/test/java/com/qingcloud/mcp/xhs/util/
compile.log
